<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mini Messageboard</title>
</head>
<body>
    <h1>Messages</h1>
    <a href="/new">Send a message</a>
    <ul>
        <% messages.forEach(message => { %>
            <%- include("message", {message: message}) %>
        <% }); %>
    </ul>
</body>
</html>